<section id="_flights-list">
  <div ng-cloak class="headline -bold" layout="row" layout-align="space-around center" flex="100">
    <div class="header-text-table" flex-xs="25" flex>
      Cia Aérea
    </div>
    <div class="header-text-table" flex-xs="25" flex>
      Partida
    </div>
    <div class="header-text-table" flex-xs="25" flex>
      Duração
    </div>
    <div class="header-text-table" flex-xs="25" flex>
      Chegada
    </div>
    <div layout="column" ng-if="!vm.isMobile()">
      <div class="header-text-table">
        Detalhes
      </div>
      <div class="header-table-detail-large table-card">
        VER QTD. MILHAS
      </div>
    </div>
    <div layout="column" ng-if="!vm.isMobile()">
      <div class="header-text-table">
        Preço
      </div>
      <div class="header-table-detail-large table-card">
        POR ADULTO (À INCLUIR TAXAS)
      </div>
    </div>
  </div>

  <md-content>
    <md-list flex>
      <md-list-item class="md-3-line" ng-repeat="flightAirline in vm.flightsAirlinesList">
        <div class="md-list-item-text" layout="column">
          <div layout="row" flex>
            <div layout="column" layout-align="space-around center" flex-xs="25" flex>
              <div class="text-large -bold">{{flightAirline.airline}}</div>
              <div class="text-large">{{flightAirline.flightNumber}}</div>
            </div>
            <div layout="column" layout-align="space-around center" flex-xs="25" flex>
              <div class="text-large -bold">{{flightAirline.departureDate}}</div>
              <div class="text-large text-place-large">{{flightAirline.from}}</div>

              <div class="text-large text-place-short">{{flightAirline.fromCode}}</div>
            </div>
            <div layout="column" layout-align="space-around center" flex-xs="25" flex>
              <div class="text-large -bold">{{flightAirline.duration}}</div>
              <div class="text-large">VÔO DIRETO</div>
            </div>
            <div layout="column" layout-align="space-around center" flex-xs="25" flex>
              <div class="text-large -bold">{{flightAirline.arrivalDate}}</div>
              <div class="text-large text-place-large">{{flightAirline.to}}</div>

              <div class="text-large text-place-short">{{flightAirline.toCode}}</div>
            </div>

            <div ng-if="!vm.isMobile()" flex>
              <details-table-cell flight-airline="flightAirline"></details-table-cell>
            </div>

            <div ng-if="!vm.isMobile()" flex>
              <price-table-cell flight-airline="flightAirline"></price-table-cell>
            </div>
          </div>

          <md-divider></md-divider>

          <div ng-if="vm.isMobile()">
            <price-table-cell flight-airline="flightAirline"></price-table-cell>
          </div>

          <md-divider></md-divider>

          <div ng-if="vm.isMobile()">
            <details-table-cell flight-airline="flightAirline"></details-table-cell>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</section>