<form name="vm.searchDataForm" novalidate ng-submit="vm.searchDataForm.$valid &&  vm.getFlightsAirlines(vm.searchDataForm)">
  <div layout="row">
    <div flex>
      <md-icon ng-style="{ color: '#777', 'font-size': '36px', height: '36px' }">
        menu
      </md-icon>
    </div>
    <div flex>Teste Front</div>
    <div layout="row" flex>
      <div flex>
        <md-icon ng-style="{ color: '#777', 'font-size': '36px', height: '36px' }">
          schedule
        </md-icon>
      </div>
      <div flex>{{vm.getLiveTime()}}</div>
    </div>
  </div>

  <div layout="row">
    <div flex>
      <md-icon ng-style="{ color: '#777', 'font-size': '36px', height: '36px' }">
        place
      </md-icon>
    </div>
    <div flex>
      {{vm.getAirportCode(vm.departurePlace)}} - {{vm.getAirportCode(vm.returnPlace)}}
    </div>
    <div flex>
      <md-datepicker ng-model="vm.departureDate"
                     md-placeholder="Data de ida"
                     md-min-date="vm.minDate"
                     ng-required="true"
                     name="departureDate">
      </md-datepicker>
      <div ng-messages="vm.searchDataForm.departureDate.$error" ng-if="vm.searchDataForm.$submitted">
        <div ng-message="required">Esse campo é obrigatório.</div>
      </div>
    </div>
    <div flex>
      <md-datepicker ng-model="vm.returnDate"
                     md-placeholder="Data de ida *"
                     md-min-date="vm.minDate"
                     ng-required="true"
                     name="returnDate">
      </md-datepicker>
      <div ng-messages="vm.searchDataForm.returnDate.$error" ng-if="vm.searchDataForm.$submitted">
        <div ng-message="required">Esse campo é obrigatório.</div>
      </div>
    </div>
    <div flex>
      <md-menu-bar>
        <md-menu>
          <md-button class="md-grid-item-content" ng-click="$mdMenu.open()">
            <md-icon ng-style="{ color: '#777', 'font-size': '36px', height: '36px' }">
              group
            </md-icon>
          </md-button>
          <md-menu-content>
            <div>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Adultos</label>
                <md-select ng-model="vm.numberAdults">
                  <md-option ng-repeat="numberAdultsSelected in vm.numbersList" value="{{numberAdultsSelected}}">
                    {{numberAdultsSelected}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Crianças - 2 a 11 anos</label>
                <md-select ng-model="vm.numberChildren">
                  <md-option ng-repeat="numberChildrenSelected in vm.numbersList" value="{{numberChildrenSelected}}">
                    {{numberChildrenSelected}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Bebês - 0 a 23 meses</label>
                <md-select ng-model="vm.numberInfants">
                  <md-option ng-repeat="numberInfantsSelected in vm.numbersList" value="{{numberInfantsSelected}}">
                    {{numberInfantsSelected}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Classe</label>
                <md-select ng-model="vm.class"
                           ng-required="true"
                           name="class">
                  <md-option ng-repeat="class in vm.classesList" value="{{class}}">
                    {{class}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </md-menu-content>
        </md-menu>
      </md-menu-bar>
      <div ng-messages="vm.searchDataForm.class.$error" ng-if="vm.searchDataForm.$submitted">
        <div ng-message="required">O campo classe é obrigatório.</div>
        <div ng-message="childrenError">A quantidade de crianças e bebês deve ser igual ou inferior ao número de adultos.</div>
        <div ng-message="numberPeople">No número de adultos tem que ser maior que zero.</div>
      </div>
    </div>
    <div flex>{{vm.numberPassagers()}}</div>
  </div>

  <div layout="row">
    <div flex>
      <md-autocomplete
              md-selected-item="vm.departurePlace"
              md-search-text="vm.searchDeparturePlace"
              md-items="item in vm.querySearch(vm.searchDeparturePlace)"
              md-item-text="item"
              md-min-length="0"
              placeholder="Selecione sua ida *"
              ng-required="true"
              md-input-name="departurePlace">
        <md-item-template>
          <span md-highlight-text="vm.searchDeparturePlace" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
      </md-autocomplete>
      <div ng-messages="vm.searchDataForm.departurePlace.$error" ng-if="vm.searchDataForm.$submitted">
        <div ng-message="required">Esse campo é obrigatório.</div>
        <div ng-message="validationError">O local da ida e da volta não podem ser iguais</div>
      </div>
    </div>
    <div flex>
      <md-autocomplete
              md-selected-item="vm.returnPlace"
              md-search-text="vm.searchReturnPlace"
              md-items="item in vm.querySearch(vm.searchReturnPlace)"
              md-item-text="item"
              md-min-length="0"
              placeholder="Selecione sua volta *"
              ng-required="true"
              md-input-name="returnPlace">
        <md-item-template>
          <span md-highlight-text="vm.searchReturnPlace" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
      </md-autocomplete>
      <div ng-messages="vm.searchDataForm.returnPlace.$error" ng-if="vm.searchDataForm.$submitted">
        <div ng-message="required">Esse campo é obrigatório.</div>
        <div ng-message="validationError">O local da ida e da volta não podem ser iguais</div>
      </div>
    </div>
  </div>

  <div layout="row" layout-align="center center">
    <md-button class="md-raised md-primary" ng-disabled="vm.loading" type="submit">Buscar</md-button>
  </div>

  <div layout="row" layout-align="space-around" ng-show="vm.loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</form>
